<h3>
	{{if (is-equal cardType "feelings") "2." "3."}} {{unless isMobile "Choose" "Swipe right to select"}} all the <span class="instructions-{{cardType}}">{{singularize-word cardType}} cards</span> related to the situation.
</h3>

{{#unless showSelectedCards}}
	{{#each cards as |card index|}}
		{{base-card
			card = card
			cardType = cardType
			index = index
			indexToDisplay = indexToDisplay
			selectCard = "selectCard"
			discardCard = "discardCard"}}
	{{/each}}
{{/unless}}

{{#if showSelectedCards}}
	{{log selectedCards}}
	<div class="selected-cards">
		{{#each selectedCards as |selectedCard|}}
			<div class="selected-card {{singularize-word cardType}}-card">
				{{selectedCard}}
			</div>
		{{/each}}
	</div>
{{/if}}